# gpt-3.5-turbo

## AlleleDefinition

Mean precision: 0.17162698412698413

Mean recall: 0.16253517471245527

## AlleleFrequency

Mean absolute deviation: 0.10476452205882353

## AlleleFunction

Accuracy: 0.29411764705882354

## DiplotypeToPhenotype

Accuracy: 0.3298429319371728

## DrugToGenes

Mean precision: 0.1976984126984127

Mean recall: 0.625

## GeneToDrugs

Mean precision: 0.6206697298802561

Mean recall: 0.53842816857691

## RecToCategory

Accuracy: 0.29615384615384616

# gpt-4-turbo

## AlleleDefinition

Mean precision: 0.251984126984127

Mean recall: 0.2170986667759473

## AlleleFrequency

Mean absolute deviation: 0.06147775735294118

## AlleleFunction

Accuracy: 0.46405228758169936

## DiplotypeToPhenotype

Accuracy: 0.418848167539267

## DrugToGenes

Mean precision: 0.26666666666666666

Mean recall: 0.375

## GeneToDrugs

Mean precision: 0.5429928096594764

Mean recall: 0.4870752102588487

## RecToCategory

Accuracy: 0.425

